* {
    box-sizing: border-box;
}

h1 {
    color: #1a1a1a;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
body {
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}
header {
    background-color: bisque;
}
.row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}